* {
    box-sizing: border-box;
}

.small-title{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height:10vh;
    font-size:2rem;
   
}
.move-area{
    position:absoulte;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:188vw;
    height:60vh;
    transition: all 0.5s cubic-bezier(0, 0.365, 0.390, 1.240);
}
.move-right{
    transform:translateX(-94vw);
    transition: all 0.5s cubic-bezier(0, 0.365, 0.390, 1.240);
}
.profile-area{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left:6vw;
    width:88vw;
 
}
.move-btn-wrapper{
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100vw;
    height:60vh;
    top:10vh;
}
.left-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:10vh;
    left:10%;
    background-color:var(--background-color);
    width:6vw;
    height:60vh;
    text-align:center;
    font-size: 3em;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 0.315, 1.000);
}
.right-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:10vh;
    right:10%;
    background-color:var(--background-color);
    width:6vw;
    height:60vh;
    font-size: 3em;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 0.315, 1.000);
}
.left-btn-hide{
    opacity:0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 0.315, 1.000);
}
.right-btn-hide{
    opacity:0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 0.315, 1.000);
}

.left-btn button, .right-btn button{
    height: 100%;
}
.left-btn i, .right-btn i{
    font-size: 3em;
}
.blank-block-left{
    position:absolute;
    top:10vh;
    left:0;
    width:10%;
    height:60vh;
    background-color:var(--background-color);
}
.blank-block-right{
    position:absolute;
    top:10vh;
    right:0;
    width:10%;
    height:60vh;
    background-color:var(--background-color);
}
#view{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right:30px;

    background-color: lightgray;
	width: 30vmin;
    height: 30vmin;
    border-radius:50%;
}
#forms{
    position: relative;
    width:310px;
    display:flex;
    flex-direction:column;
    background-color: var(--background-color);
    box-shadow: 3px 3px 5px rgba(0,0,0,.075);
    border-radius: 8px;
    padding:15px;
    -webkit-border-radius: 8px;
}
.upload-name{
    display: inline-block;
    width: 82.5%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ccc;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.filebox input[type="text"]{
   margin-bottom: .5em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #0bc452;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #0bc452;
    border-bottom-color: #0bc452;
    border-radius: .25em;
}

/* 2번째 페이지 */
.ocr-area{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:88vw;
}
.table-wrapper{
    background-color:var(--background-color);
    margin-right: 5%;
    width:40vw;
}
.table-box{
    margin-top:39px;
    height:calc(60vh - 39px);
    overflow-y:scroll;
    overflow-x:hidden; 
}
thead tr{
    position: fixed;
    width:40vw;
    display:inline-table;
    background-color: var(--background-color);
    border-radius: 8px 8px 0 0;
    top:0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
::-webkit-scrollbar-button {
width: 0;
height: 0;
}

.input-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-direct{
    position:relative;
    background-color: var(--background-color);
	box-shadow: 3px 3px 5px rgba(0,0,0,.075);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding:10px;
    font-size:0.9em;
}
.input-in{
    margin-bottom:10px;
}
.image-up{
    position:relative;
	background-color: var(--background-color);
    height:60%;
	box-shadow: 3px 3px 5px rgba(0,0,0,.075);
    border-radius: 8px;
	-webkit-border-radius: 8px;
}
#ocr-view{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-color: lightgray;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;  
    
    opacity: 60%;
}
.image-btn{
    position:absolute;
    bottom:5%;
    right:5%;
}
.add-btn{
    display:inline-block;
    position:absolute;
    right:5%;
    bottom:6%;
}

tr > td:nth-child(1) {
    width:1em;
}
