* {
    box-sizing: border-box;
}
html,body{
   margin:0;
   padding:0;
}
body{
   font-size: 16px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    height: 100vh;
    width: 100vw;
}
div{
    margin:0;
}


/*타이틀-설명*/
.titlename{
    text-align: center;
    /* margin-top: 2em; */
}

.info{
    text-align: center;
    color: lightgray;
}



/*파일 선택 화면 숨기기*/
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

/*업로드 버튼*/
.filebox label {
    padding: .5em .75em;
    color: #0bc452;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #0bc452;
    border-bottom-color: #0bc452;
    border-radius: .25em;
    position: absolute;
}


/* 미리보기 div */
#View_area3{
    color: black; 
    margin: 1em;
}

/* 이미지 삽입 전 틀*/
#preimg3{
    width: 20em;
    height: 29em;
    border: 0.5px solid lightgray;
    background-color: #fdfdfd;
}

/* OCR 결과 리스트*/
.form-control{
    width: 20em;  
    display: inline-block;  
}

/*OCR 결과 리스트 div*/
.inputResult{
    padding: 0.2em;
    width: 20em;
}

/*OCR 버튼*/
.btn-danger{
   margin: 1em;
}