@charset "UTF-8";
:root {
	--header-height:15vh;
	--main-height:70vh;
	--main-width:98vw;
	--horizontal-scroll-height: 50vh;
	--form-height:10vh;

}
* {
    box-sizing: border-box;
}
html,body{
	margin:0;
	padding:0;
}
body{
	font-size: 16px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    height: 100vh;
    width: 100vw;
}
div{
    margin:0;
}
.main{
	position:absolute;
	z-index:0;
	top:var(--header-height);
	height:85vh;
	width:100vw;
	padding-left:1vw;
	padding-right:1vw;
}



