@charset "UTF-8";

.modal-dialog {
  margin-top: 15vh;
  width: 350px;
}
.modal-body {
  padding: 0px;
  height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* // IE에서 스크롤바 감춤  */
  ::-webkit-scrollbar {
    display: none !important;
    /* // 윈도우 크롬 등 */
  }
}

.modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  scroll-behavior: smooth;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-container {
  padding-left: 0px;
  padding-right: 0px;
}

.modal-content {
  height: 500px;
}

.reply-item {
  display: flex;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
}

.user-image-area {
  width: 15%;
  height: 10%;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 1vh;
}

/* 컬렉션 대표 이미지 */
.user-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.user-id-area {
  display: inline;
  width: 30%;
  /* width: 11vh; */
  height: 10%;
  margin-left: 1px;
  margin-right: 2px;
  margin-top: 3vh;
  word-break: break-all;
}

.follow-button-area {
  display: inline;
  width: 45%;
  height: 10%;
  margin-left: 1px;
  margin-right: 2px;
  margin-top: 3vh;
  word-break: break-all;
  text-align: right;
}


