@charset "UTF-8";

.main{
	position: absolute;
	top:var(--header-height);
/* 	margin-top:var(--header-height); */
	height:var(--main-height);
	padding-left:1vw;
	padding-right:1vw;
	
}

.tag-image {
	overflow-x: hidden;
}

.img-wrapper>i {
	font-size: 10em;
}


::-webkit-scrollbar {
	width: 0;
	height: 0;
}


::-webkit-scrollbar-button {
	width: 0;
	height: 0;	
}
.horizontal-scroll-block {
	height:var(--horizontal-scroll-height);
}
.horizontal-scroll {
	
	display: flex;
	flex-direction: column;
	align-items: center;


	width:var(--horizontal-scroll-height);
	height: var(--main-width);
	transform-origin: left top;
	transform:rotate(-90deg) translateX( calc(0vh - var(--horizontal-scroll-height)) );
	overflow-y: auto;
	overflow-x: hidden;
}

.img-wrapper {
	
	display: flex;

	min-height: 40vh;

	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.search-wrapper{
	text-align: center;
	width:30vw;
	height:var(--form-height);
	margin:auto;

}

