@charset "UTF-8";

.img-wrapper > i {
  font-size: 10em;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.horizontal-scroll-block {
  height: var(--horizontal-scroll-height);
}
.horizontal-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--horizontal-scroll-height);
  height: var(--main-width);
  transform-origin: left top;
  transform: rotate(-90deg)
    translateX(calc(0vh - var(--horizontal-scroll-height)));
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}

.img-wrapper {
  display: flex;
  position: relative;

  min-height: 40vh;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-box-align: center;
	align-items: flex-end;
  -webkit-box-pack: center;
}

img.collection-image-main {
  width: 128px;
  height: 128px;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -khtml-border-radius: 10%;
  -webkit-border-radius: 10%;
}
