@charset "UTF-8";

.img-wrapper > i {
  font-size: 7em;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.horizontal-scroll-block {
  height: var(--horizontal-scroll-height);
}
.horizontal-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--horizontal-scroll-height);
  height: var(--main-width);
  transform-origin: left top;
  transform: rotate(-90deg)
    translateX(calc(0vh - var(--horizontal-scroll-height)));
  overflow-y: auto;
  overflow-x: hidden;
}

.img-wrapper {
  display: flex;
  position: relative;

  min-height: 35vh;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

div.profile {
  position: relative;
  left: 23%;
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  border: 1px black;
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  /* height: 60%; */
  /* padding: 5px; */
}

/* 프로필 이미지 */
img.profile-image {
  width: 85%;
  height: 85%;
  border: 1px solid black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* 컬렉션 대표 이미지 */
img.collection-image {
  width: 128px;
  height: 128px;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -khtml-border-radius: 10%;
  -webkit-border-radius: 10%;
}

div.box {
  /* text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 60%; */
  /* border: solid black 5px; */
  /* padding: 5px; */
}
