@charset "UTF-8";
/* 
******************************가로 스크롤 이미지 part css********************************
 */
 .img-wrapper > i {
    font-size: 7em;
    position: relative;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .horizontal-scroll-block {
    height: var(--horizontal-scroll-height);
  }
  .horizontal-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: var(--horizontal-scroll-height);
    height: var(--main-width);
    transform-origin: left top;
    transform: rotate(-90deg)
      translateX(calc(0vh - var(--horizontal-scroll-height)));
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .img-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 35vh;
    
    -webkit-transform: translateX(-80px) rotate(90deg);
    transform: translateX(-80px) rotate(90deg);
  
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    /* justify-content: center; */
    
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57) 0.3s;
  }
  
  /* 컬렉션 대표 이미지 */
  img.collection-image-scroll {
    width: 128px;
    height: 128px;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -khtml-border-radius: 10%;
    -webkit-border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.219);
  
  }
  #collector-name{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
    margin-bottom: 50px;
  }
  .user-info{
    display:flex;
    justify-content: space-between;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
  }
  .user-info button{
    box-shadow: 5px 5px 5px rgba(0,0,0,.219);
  }
  .collection-info{
    text-align: center;
  }
  .collection-name{
    font-family: "S-CoreDream-8Heavy";
    color:rgb(136, 136, 136);
    font-size:0.8rem;
    padding-top:10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
    transition: all 0.5s cubic-bezier(1.000, 0.005, 0.495, 1.000);
  }
  .collection-name-hover{
    font-family: "S-CoreDream-8Heavy";
    color:black;  
    padding-top:10px;
    font-size:1rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
    transition: all 0.5s cubic-bezier(1.000, 0.005, 0.495, 1.000);
    
  }
  .collection-info-fade{
    display:none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
  }
  
  .img-hover{
    transform: rotate(90deg) translateY(30px);
   
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  
  }