.login-form {
  width:100%;
  max-width:330px;
  padding:15px;
  margin:auto;
  height:100%;
}








/* login */
#loginBox {
    position: absolute;
    left:35%;
    top:15%;
    width:30%;
    height:70%;
}

/* header */
.header {
  background-color: #000000;
  height:50%;
}
#blank {
  width:20%;
}
#firstHeader {
  width:10%;
}
#btnHeader {
  width:100%;
}
#secondHeader {
  width:40%;
}
#thirdHeader {
  width:10%;
}

